@import "reset.css";
@import "normalize.css";

/*@import url(http://fonts.googleapis.com/css?family=Amatic+SC);*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
	font-family: 'Open Sans Condensed', sans-serif;
	/*font-family:'Amatic SC', cursive;*/
	font-size: 20px;
	color:black;
	background-image: url("https://download.unsplash.com/photo-1414912925664-0c502cc25dde");
	background-size: 1400px;


}

.wrap {
	width: 400px;
	margin: 0 auto;
}

.task-list {
	width: 88%;
	min-height: 300px;
	box-shadow: 2px 2px 0px #ddd;
	margin-top: 40px;
	padding:22px 6%;
	border: 2px solid #a1a1a1;
    padding: 10px 10px; 
    background:#D3F7FA;
    border-radius: 25px;
} 
.delete-button{
	margin-left: 300px;
}


.registerbutton{
	margin-top: 20px;
	margin-right: 50px;
	margin-left: 150px;
    border: 2px solid #a1a1a1;
    padding: 10px 10px; 
    background: #D3F7FA;
    width: 100px;
    border-radius: 25px;
}

.loginbutton{
	margin-top: 20px;
	margin-right: 50px;
	margin-left: 25px;
	border: 2px solid #a1a1a1;
    padding: 10px 10px; 
    background:#D3F7FA;
    width: 100px;
    border-radius: 25px;
}

.logoutbutton{
	margin-top: 20px;
	margin-right: 50px;
	margin-left: 25px;
	border: 2px solid #a1a1a1;
    padding: 10px 10px; 
    background: #D3F7FA;
    width: 100px;
    border-radius: 25px;
}

.add-new-task{
	margin-top: 15px;
}